<strong>Recuperando senha</strong>

<p>Uma solicitacao de recuperacao de senha foi realizada para o e-mail ({{ email }}).</p>
<p>Utilize o token {{ token }}</p>


<a href="{{ link }}">Criar nova senha</a>
